.button-back-header {
  display: flex;
  padding-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: #444;
}

.button-back-navbar {
  display: flex;
  text-transform: capitalize;
  width: 20%;
}

.button-home {
  width: 80%;
  margin-top: -55px;
  margin-right: 18%;
  display: flex;
  justify-content: center;
}

.button-home img {
  width: 150px;
}
